*{
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensedr", sans-serif;
    box-sizing: border-box
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #c7b39b url(img/bacFonts.png); /* Цвет фона и путь к файлу */
    color: #ffff; /* Цвет текста */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 370px;
    min-width: 500px;
    border: 0px solid #f1f1f1;
    background: #6fddff
}
.l1{
    /* visibility: hidden; */
    display: block;
    /* flex-direction: column;
    justify-content: center; */
    color: red;
}

b{
    padding: 1px 20px;
    margin: 0px 1px 1px;
    color: #483ed491
}

label{
    padding: 1px 20px;
    margin: 0px 1px 1px;
    /* color: #483ed491   */
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
    display: flex;
    flex-direction: column;
    width: 190%;
    padding: 10px;
}

.container2{
    padding: 1px 20px;
    margin: 1px 1px 1px;
    color: #483ed491  
}
input[type=text], input[type=password] {
    padding: 15px 20px;
    margin: 15px 10px 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 2px solid rgb(204, 204, 204);
    box-sizing: border-box;
}

button {
    background-color: #059bff;
    color: white;
    padding: 15px 20px;
    margin: 0px 0%;
    border: none;
    cursor: pointer;
    width: 40%;
    float: right;
}
button:hover {
    background-color: #016db4;
    opacity: 0.9;
}

.container3{
    display: flex;
    padding: 10px 20px 0px;
}
.container4{
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
#message {
    display:flex;
    width: 50%;
    background: #6fddff;
    color: #000;
    position: relative;
    padding: 2px;
    margin-top: 1px;
}

#message p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 35px;
    font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}
.valid:before {
    visibility: hidden;
    position: relative;
    left: 35px;
    /* content: "&#10004;"; */
}
/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}
.invalid:before {
    visibility: hidden;
    position: relative;
    left: 35px;
    /* content: "&#10006;"; */
}