*{
    padding: 0;
    margin: 0;
    font-family: "Poppins-Regular", sans-serif;
    box-sizing: border-box
}
.container{
  width: 100%;  
  min-height: 100vh;
  /* display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.Forgot-Password{
    text-align: right;
    padding-top: 8px;
    padding-bottom: 31px
}
.autorisation{
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 10%;
    height: 50px;
}
.autorisation:hover {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 50%;
    height: 50px;
  }
h1{
    margin: 0px;
    display: block;
    font-family: Poppins-bold;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
}
body {
    background: #c7b39b url(img/bacFonts.png); /* Цвет фона и путь к файлу */
    color: #ffff; /* Цвет текста */
}
.LoginUser{
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
}
.{
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
}